body {
  margin: 0;
}

.top-menu {
  height: 70px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.118) 0px 1px 3px 0px;
}

@media (max-width: 460px) {
  .top-menu {
    height: 120px;
  }
}

nav .company-brand {
  font-size: 30px;
  font-weight: bold;
  color: rgb(0, 123, 225);
}

nav .company-brand:hover {
  color: black;
}

.image {
  height: 100vh;
  min-height: 300px;
  background-image: url("../resource/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.welcome-title {
  font-size: 50px;
  font-weight: bold;
  color: white;
}

section {
  padding: 50px 100px 20px 100px;
}

.not-menu {
}

.hospital-detail {
  font-size: 18px;
  color: rgb(0, 0, 0);
}

a .user {
  padding: 50px 50px 50px 50px;
}

a:not(.btn) {
  text-decoration: none;
}

div .user-wrapper {
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.118) 0px 1px 3px 0px;
  border-radius: 20px;
  padding-left: 100px;
  padding-right: 70px;
  transition: transform 0.2s;
}

.user-wrapper:hover {
  transform: scale(1.05);
}

.user-title {
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.user-detail {
  color: black;
}

.user-name {
  color: rgb(0, 123, 255);
}

h2 {
  color: rgb(0, 123, 225);
}

h2 :hover {
  color: black;
}
