@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

#app {
  * {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }

  margin: 3rem 1rem;
}

.display-none {
  display: none !important;
}

@import "adminPanel";
@import "dataTable";
@import "topPanel";
@import "pagination";
@import "loading";