#app #pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  button {
    border-radius: 0.5rem;
    margin: 0.5rem;
    padding: 0.25rem 0.5rem;
    border: 3px solid darkslategrey;
    background: cadetblue;

    &:hover {
      background: cornflowerblue;
    }

    &:active {
      background: darkcyan;
    }
  }
}